html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: url(../images/login_bg.jpg);
}

.loginAndRegBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 310px;
    width: 400px;
    background-color: #fff;
}

.box_title {
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: url(../images/login_title.png) no-repeat center;
}

.login_logo {
    margin-top: 20px;
}

.reg_box {
    display: none;
}

.layui-form {
    padding: 0 30px;
}

.layui-form-item {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.layui-form-item a {
    font-size: 12px;
}

.layui-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}

.layui-input {
    padding-left: 32px;
}